section.new-tweet{
  background-color: #eaeaea;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 2em;
  padding: 2em;
  position: relative;
  width: 100%;
}

section.new-tweet textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 4px;
}

section.new-tweet input {
  border-radius: 5px;
  /*margin: 10px 10px 10px 2em;*/
}

span.counter {
  /*margin: 10px;
  padding: 3px;*/
}

section.new-tweet h2 {
  margin-top: 0;
  border-bottom: 1px solid black;
  padding: 1px;
}

.red-text {
  color: red;
}

.err {
  font-size: 12px;
  color: red;
  margin: 0 0 12px 0;
}