/* Importing all Sass partials */
@import 'articles';
@import 'layout';
@import 'nav';
@import 'new-tweet';

%flexbox {
  display: flex;
  justify-content: space-between;
}

#nav-bar {
  @extend %flexbox;
  background-color: deepskyblue;
  color: #e8fdff;
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 0 2em;
  z-index: 900;
}

#new-tweet-form div {
  @extend %flexbox;
}

footer {
  @extend %flexbox;
  border-top: 1px solid black;
}